<ul nz-menu
    [nzMode]="'inline'"
    nzTheme='dark'
    [nzInlineCollapsed]="isCollapsed"
    style="height: 100%;width: 100%">
  <button
    class="fold-button"
    nz-button
    [nzType]="'default'"
    [style.margin-left]="isCollapsed? '17px' : '85px'"
    (click)="toggleCollapsed()">

    <i class="anticon anticon-menu-fold"
       [class.anticon-menu-unfold]="isCollapsed"
       [class.anticon-menu-fold]="!isCollapsed">
    </i>
  </button>
  <li nz-menu-item routerLink="/home/summary">
          <span title>
            <i class="anticon anticon-bar-chart"></i>
            <span>Summary</span>
          </span>
  </li>
  <li nz-menu-item routerLink="/home/article-list/post">
          <span title>
            <i class="anticon anticon-export"></i>
            <span>Post box</span>
          </span>
  </li>
  <li nz-menu-item routerLink="/home/article-list/draft">
          <span title>
            <i class="anticon anticon-file"></i>
            <span>Draft box</span>
          </span>
  </li>
</ul>
